/* dynamic variables CSS */
:root {
  --primary-background-color: #ffffff;
  --white-transparent-color: rgba(255, 255, 255, 10%);
  --secondary-background-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --black-transparent-text-color: rgba(255, 255, 255, 0.6);
  --batt-prim-bg-color: #2196f3;
  --batt-sec-bg-color: #f5f4fa;
  --black-logo-color: #000000;
  --example-border-botton: #eeeeee;
  --header-border-bottom: #ececec;
  --logo-border: #afb1b8;
  --logo-color: #afb1b8;
}

/* body */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
}

/* delete points from lists */
.list {
  list-style: none;
}

/* delete links underline */
a {
  text-decoration: none;
}

/* hide logical section header */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset indentation of headings, paragraphs and lists */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-big,
.title-small {
  color: var(--secondary-text-color);
}

/* header */
/* flex-box */
header {
  border-bottom: 1px solid var(--header-border-bottom);
}

header .link-set {
  display: flex;
  min-height: 80px;
  align-items: center;
}
header .link-set:last-child {
  margin-left: auto;
}
.link-set .link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0px;
}
.link-set > li:not(:last-child) {
  margin-right: 50px;
}
/* icons */

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--black-logo-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .accent {
  color: var(--accent-text-color);
}

/* navigation */
.link {
  display: inline-block;
}
.navigation .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-text-color);
}
.navigation .link.current {
  color: var(--accent-text-color);
}
/* contacts */
.contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--secondary-background-color);
  color: var(--white-text-color);

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
}

.title-hero {
  display: inline-block;
  width: 696px;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* font of h2 titles */
.title-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* fonts of section Наші переваги */
.benefits .list {
  display: flex;
  justify-content: space-between;
}
.benefits-set > li {
  width: 270px;
}
.benefits-set > li:not(:last-child) {
  margin-right: 30px;
}

.title-small.benefits {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ben-discr {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*  fonts of section Чим ми займаємося */
.section.job {
  padding-top: 0;
  padding-bottom: 113px;
}
.job .list {
  display: flex;
  justify-content: space-between;
}

.job .title-big {
  margin-bottom: 50px;
}

/* fonts of section Наша команда */
.team .list {
  display: flex;
  justify-content: space-between;
}
.section.team {
  background-color: var(--batt-sec-bg-color);
}
.team .title-big {
  margin-bottom: 50px;
}
.person {
  background-color: var(--primary-background-color);
  padding-bottom: 30px;
}
.names {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* fonts of section Приклали портфоліо */
.filter .list {
  display: flex;
  justify-content: center;
}
.filter-button:not(:last-child) {
  margin-right: 8px;
}

.list.magazine {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.companies {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.sphere {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filter {
  margin-bottom: 50px;
}
.example {
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px solid var(--example-border-botton);
}
.example .discription {
  padding: 20px 24px;
}

.example .companies {
  margin-bottom: 4px;
}

/* Постійні клієнти */
.clients .title-big {
  margin-bottom: 50px;
}
.clients .list {
  display: flex;
  justify-content: space-between;
}

/* footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
}
footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;

  color: var(--white-text-color);
}

/* map */
.cont-flex {
  display: flex;
}
.addres-map {
  color: var(--white-text-color);
}
.addres-map:hover,
.addres-map:focus {
  color: var(--accent-text-color);
}

/* contact */
.addres .list-item {
  margin-bottom: 9px;
}
.addres .list-item:last-child {
  margin-bottom: 0px;
}
.addres .contact {
  color: var(--black-transparent-text-color);
}

.addres .contact:hover,
.addres .contact:focus {
  color: var(--accent-text-color);
}
/* media */
.social-media {
  color: var(--white-text-color);
  margin-top: 12px;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.media-title {
  margin-bottom: 20px;
  color: currentColor;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* button */
.button {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
  margin: 0;

  background-color: var(--batt-sec-bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-hero {
  display: block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--batt-prim-bg-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--batt-prim-bg-color);
  color: var(--white-text-color);
}

/* logo (svg-sprite) */
/* Contacts */
.contacts-logo {
  margin-right: 10px;
  fill: currentColor;
}

.button-logo {
  width: 170px;
  height: 92px;

  padding: 0;
  margin: 0;
  color: var(--logo-color);
  border: 1px solid var(--logo-border);
  background-color: var(--primary-background-color);
}

.button-logo:hover {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.icon-logo {
  fill: currentColor;
}

.benefits .benefits-logo {
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--batt-sec-bg-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.team .media {
  display: flex;
  padding: 0px 32px;
}
.link-media {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--logo-color);
  border: 0px solid transparent;
  border-radius: 50%;
}
.logo-media {
  fill: currentColor;
}
.link-media:hover {
  background-color: var(--batt-prim-bg-color);
  fill: var(--white-text-color);
}

.media.cont-flex {
  justify-content: space-between;
}
.foot-media {
  background-color: var(--white-transparent-color);
  fill: var(--white-text-color);
}
