$accent-color: #2196f3;
$accent-color-tr-90: rgba(32, 148, 243, 0.9);
$butt-bg-color: #f5f4fa;
$black-color: #000000;
$black-color-tr-10: rgba(0, 0, 0, 10%);
$black-color-tr-20: rgba(0, 0, 0, 20%);
$example-border-color: #eeeeee;
$form-border-color: rgba(33, 33, 33, 20%);
$header-border-color: #ececec;
$logo-color: #afb1b8;
$primary-text-color: #757575;
$sec-text-color: #212121;
$sec-text-color-tr-80: rgba(47, 48, 58, 80%);
$sec-bg-color: #2f303a;
$white-color: #ffffff;
$white-color-tr-10: rgba(255, 255, 255, 10%);
$white-color-tr-30: rgba(255, 255, 255, 30%);
$white-color-tr-60: rgba(255, 255, 255, 60%);
